* {
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Space Mono', monospace;
}

a {
    color: goldenrod;
}

h2 {
    color: goldenrod;
    font-family: 'Special Elite', cursive;
}

h3 {
    color: goldenrod;
    margin-bottom: 5px;
    margin-top: 30px;
    font-family: 'Special Elite', cursive;
}

p {
    text-align:justify;  
    text-justify:inter-word;
    margin: 5px;
}

img {
    filter: drop-shadow(8px 8px 10px gray);
}

img:hover {
    transition-duration: 200ms;
    transform: translateY(-0.2rem);
}

.lastResult {
    display: none;
}

.imgSocial {
    margin: 25px;
    width: 60px;
    height: 60px;
    filter: drop-shadow(4px 4px 10px rgb(128, 128, 128));
}

.imgSocial:hover{
    transition-duration: 200ms;
    transform: translateY(-0.2rem);
}

.imgSocial:hover{
    transition-duration: 200ms;
    transform: translateY(-0.2rem);
}

.container {
    width: 65%;
    margin: auto;
    padding: 20px;
    border: 2px solid goldenrod;
    text-align: center;
    color: white;
}

.socials {
    width: 65%;
    margin: auto;
    text-align: center;
    color: white;
}

.simbolosHome {
    margin: 20px;
    max-width: 100%;
    height: auto;
}

.start {
    background-color: black; 
    border: 2px solid white;
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Special Elite', cursive;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.start:hover {
    background-color: white;
    color: black;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        margin: auto;
        margin-top: none;
        padding: 10px;
        border: 2px solid goldenrod;
        text-align: center;
        color: white;
    }
    
    h3 {
        margin-top: 20px;
        font-size: 16px;
    }

    p {
        font-size: 14px;
        text-align: justify;  
        text-justify: inter-word;
        margin: 2px;
    }

    img {
        width: 65px;
        height: 75px;
        filter: drop-shadow(8px 8px 10px gray);
    }

    .imgSocial {
        margin-top: 40px;
        width: 40px;
        height: 40px;
        filter: drop-shadow(4px 4px 10px gray);
    }
  }
