body {
    background-color: black;
    font-family: 'Space Mono', monospace;
}

h2 {
    color: goldenrod;
    font-family: 'Special Elite', cursive;
}

p {
    text-align:justify;  
    text-justify:inter-word;
    margin: 5px;
}

.quiz-container {
    width: 70%;
    margin: auto;
    padding: 15px;
    border: 2px solid goldenrod;
    text-align: center;
    color: white;
}

.endTest {
    display: none;
    width: 70%;
    margin: auto;
    padding: 15px;
    border: 2px solid goldenrod;
    text-align: center;
    color: white;
}

.question {
    border: 2px solid white;
    margin: 50px;
    padding: 15px;
}

#b1, #b2, #b3, #b4, #b5, .previous, .sendButton {
    background-color: black; 
    border: 2px solid white;
    width: 300px;
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Special Elite', cursive;
    font-size: 16px;
    margin: 7px;
    cursor: pointer;
}

#b1:hover, #b2:hover, #b3:hover, #b4:hover, #b5:hover, .previous:hover, .sendButton:hover {
    background-color: white;
    color: black;
}

.inputName {
    background-color: black; 
    border: 2px solid white;
    width: 300px;
    color: white;
    font-family: 'Special Elite', cursive;
    font-size: 16px;
    text-align: center;
    padding: 10px 28px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.previous {
    margin-top: 30px;
}

@media only screen and (max-width: 768px) {
    .quiz-container {
        width: 90%;
        margin: auto;
        padding: 15px;
        text-align: center;
        color: white;
    }

    .previous {
        margin-top: 20px;
    }

    #b1, #b2, #b3, #b4, #b5, .previous, .sendButton {
        background-color: black; 
        border: 2px solid white;
        width: 90%;
        color: white;
        padding: 10px 28px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: 'Special Elite', cursive;
        font-size: 16px;
        margin: 7px;
        cursor: pointer;
    }

    #b1:active, #b2:active, #b3:active, #b4:active, #b5:active, .previous:active, .sendButton:active {
        background-color: white;
        color: black;
    }
  }

  @media only screen and (max-width: 690px) {
    h3 {
        margin-top: 20px;
        font-size: 16px;
    }

    p {
        font-size: 16px;
        text-align: justify;  
        text-justify: newspaper;
        margin: 2px;
    }

    .quiz-container {
        width: 90%;
        margin: auto;
        padding: 15px;
        text-align: center;
        color: white;
    }

    .previous {
        margin-top: 20px;
    }

    #b1, #b2, #b3, #b4, #b5, .previous, .sendButton {
        background-color: black; 
        border: 2px solid white;
        width: 90%;
        color: white;
        padding: 10px 28px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: 'Special Elite', cursive;
        font-size: 16px;
        margin: 7px;
        cursor: pointer;
    }

    #b1:active, #b2:active, #b3:active, #b4:active, #b5:active, .previous:active, .sendButton:active {
        background-color: white;
        color: black;
    }

    .endTest {
        width: 90%;
        margin: auto;
        padding: 15px;
        text-align: center;
        color: white;
    }

    .inputName {
        background-color: black; 
        border: 2px solid white;
        width: 70%;
        color: white;
        font-family: 'Special Elite', cursive;
        font-size: 16px;
        text-align: center;
        padding: 10px 28px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
  }