/*
==========================
 *Import Responsive CSS*
==========================
*/
@import 'responsive.css';

/*
=================
    *Variables*
=================
*/
:root {
    /** Theme Color **/
    --main-color: goldenrod;
    --white: #fff;
    --black: #000;
    /** Theme Font Family **/
    --Space-Mono: 'Space Mono', monospace;
    --Special-Elite: 'Special Elite', cursive;
    /** Theme Filter **/
    --filter: drop-shadow(4px 4px 10px gray);
    /** Transition Duration **/
    --duration: 200ms;
    /** Theme Border **/
    --border-main: 2px solid goldenrod;
    --border-white: 2px solid white;
}

/*
===============
    *Globals*
===============
*/
* {
    box-sizing: border-box;
}

body {
    padding: 0.5rem 0;
    background-color: var(--black);
    color: var(--white);
    font-family: var(--Space-Mono);
}

a,
span {
    color: var(--main-color);
}

hr {
    width: 100%;
    margin: 30px 10px;
    color: var(--main-color);
}

.heading {
    color: var(--main-color);
    font-family: var(--Special-Elite);
}

.sub-heading {
    font-size: 28px;
    font-family: var(--Special-Elite);
}

h3 {
    margin-bottom: 15px;
    margin-top: 45px;
    text-align: center;
    font-size: 26px;
}

.whiteH3 {
    color: var(--white);
    margin-bottom: 25px;
    margin-top: 10px;
}

p {
    text-align: justify;
    text-justify: inter-word;
    margin: 5px;
    line-height: 1.8;
}

img {
    filter: var(--filter);
}

img:hover {
    transition-duration: var(--duration);
    transform: translateY(-0.2rem);
}

.main-section {
    margin-bottom: 1rem;
}

.centerP {
    margin-top: 10px;
    text-align: center;
    text-justify: none;
    margin: none;
}

.btn {
    display: inline-block;
    background-color: var(--black);
    padding: 10px 28px;
    margin: 4px 2px;
    border: var(--border-white);
    color: var(--white);
    text-decoration: none;
    font-family: var(--Special-Elite);
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.btn:active, .btn:hover, .btn:focus {
    background-color: var(--white);
    color: var(--black);
}

.border-container {
    border: var(--border-main);
}

.simbol-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

/*
==================
   *Styles for
   Display Flex*
==================
*/
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-jc-sbt {
    justify-content: space-between;
}

.flex-jc-sb {
    justify-content: space-evenly;
}

.flex-jc-ar {
    justify-content: space-around;
}

/*
-----------------
   *Img Social*
-----------------
*/
.imgSocial {
    margin: 25px;
    width: 60px;
    height: 60px;
    filter: var(--filter);
}

.imgSocial:hover {
    transition-duration: var(--duration);
    transform: translateY(-0.2rem);
}

.imgSocial:hover {
    transition-duration: var(--duration);
    transform: translateY(-0.2rem);
}

/*
==================
   *Header Page*
==================
*/
.header-page {
    width: 100%;
    margin-bottom: 2rem;
    border-bottom: var(--border-main);
    overflow: hidden;
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/opacity */
    overflow: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
    margin-top: 30px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
    overflow: hidden;
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: var(--white);
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: goldenrod;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


/*
==================
    *Container*
==================
*/
.container-pall {
    padding: 20px;
}

.container-ptb {
    padding: 20px 0;
}

main.container.flex.container-pall {
    padding-top: 3px;
}

.container {
    max-width: 80vw;
    border-radius: 5px;
    color: var(--white);
    text-align: center;
}

.title h1 {
    font-size: 1.5rem;
}

.brand {
    padding: 30px 12px;
    align-items: stretch;
}

.description {
    flex-basis: 55%;
}

.warnings {
    flex-basis: 40%;
    border: var(--border-main);
    border-radius: 6px;
}

/*
====================
  *Quiz Container*
====================
*/
.quiz-container {
    margin: 20px 0;
    padding: 20px;
    text-align: center;
}

.question {
    border: var(--border-white);
    margin: 50px;
    margin-top: 50px;
    margin-bottom: 26px;
    padding: 15px;
}

/*
==================
    *Wordle Paranormal*
==================
*/

.game-container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.tile-container {
    width: 380px;
    margin-bottom: 30px;
}

.key-container {
    width: 510px;
    display: flex;
    flex-wrap: wrap;
}

.key-container button {
    width: 43px;
    height: 58px;
    border-radius: 4px;
    margin: 4px 2px;
    border: var(--border-white);
    color: var(--white);
    text-decoration: none;
    background-color: transparent;
    font-family: var(--Special-Elite);
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.key-container button:nth-child(11) {
    margin-left: 30px;
}

.key-container button:nth-child(20),
.key-container button:nth-child(28) {
    width: 68px;
}

.tile-container div {
    display: flex;
}

.tile-container .tile {
    width: 62px;
    height: 62px;
    border-radius: 4px;
    margin: 4px 2px;
    border: var(--border-white);
    color: var(--white);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: var(--Special-Elite);
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

/*
==================
    *Wordle Paranormal - Cores*
==================
*/

.tile.flip {
    animation: 0.5s linear flipping;
}

@keyframes flipping {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

.green-overlay {
    background-color: #11771c !important;
}

.yellow-overlay {
    background-color: #a8993f !important;
}

.grey-overlay {
    background-color: #2a2a2c;
}

/*
--------------
  *Options*
--------------
*/
.option>input {
    max-width: 65rem;
}

.option input[type="button"],
#previous, #sendButton {
    padding: 10px 28px;
    margin: 7px;
    width: 300px;
    font-size: 16px;
}

/*
====================
    *End Test*
====================
*/
.endTest {
    display: none;
    width: 70%;
    padding: 15px;
    text-align: center;
}

.inputName {
    width: 300px;
    background-color: var(--black);
    padding: 10px 28px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: var(--border-white);
    color: var(--white);
    font-family: var(--Special-Elite);
    font-size: 16px;
    text-align: center;
}

/*
====================
    *Footer main*
====================
*/
.simbolosHome {
    margin: 20px;
    margin-bottom: 6rem;
    max-width: 100%;
    height: auto;
    gap: 1.8rem;
}

.start {
    min-width: 69%;
    background-color: var(--black);
    border: 2px solid var(--white);
    margin: 4px 2px;
    padding: 0.98rem 2rem;
    color: var(--white);
    text-align: center;
    text-decoration: none;
    font-family: var(--Special-Elite);
    font-size: 24px;
    cursor: pointer;
}

.start:hover, .start:focus {
    background-color: var(--white);
    color: var(--black);
}

/*
====================
    *Results*
====================
*/
.results {
    width: 80vw;
    padding: 3rem;
}

.showSpoilers {
    margin-bottom: 1rem;
}

.spoilersContainer {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.results h1 {
    font-size: 26px;
}

.img {
    margin-bottom: 15px;
    filter: drop-shadow(8px 8px 10px gray);
    width: 150px;
    height: 150px;
}

.img:hover {
    transition-duration: var(--duration);
    transform: translateY(-0.2rem);
}

.userEspectro {
    width: 100%;
    text-align: center;
}

.userRow {
    width: 100px;
    display: inline-block;
}

.espectroValue {
    text-align: center;
    text-justify: none;
    margin: 0;
}

.errorDiv {
    display: none;
}

/*
====================
    *Footer Page*
====================
*/
.footer-page {
    width: 100%;
    margin-top: 2rem !important;
    padding-bottom: 2.4rem;
}

.footer-page .socials a {
    min-width: 25%;
    margin: auto;
    text-align: center;
    color: transparent !important;
}

/*
====================
    *Elementos*
====================
*/
.morte:hover {
    filter: drop-shadow(8px 8px 10px rgb(152, 148, 174));
    transition-duration: 200ms;
}

.sangue:hover {
    filter: drop-shadow(8px 8px 10px rgb(245, 57, 57));
    transition-duration: 200ms;
}

.energia:hover {
    filter: drop-shadow(8px 8px 10px rgb(169, 94, 255));
    transition-duration: 200ms;
    animation: 0.1s linear infinite forwards shake-animation;
}

.conhecimento:hover {
    filter: drop-shadow(8px 8px 10px rgb(242, 210, 29));
    transition-duration: 200ms;
}

.SangueResult {
    animation: 10s infinite forwards sangue-animation;
}

@keyframes sangue-animation {
    50% {
        filter: drop-shadow(8px 8px 10px rgb(245, 57, 57));
    }
}

.ConhecimentoResult {
    animation: 10s infinite forwards conhecimento-animation;
}

@keyframes conhecimento-animation {
    50% {
        filter: drop-shadow(8px 8px 10px rgb(242, 210, 29));
    }
}

.EnergiaResult {
    animation: 10s infinite forwards energia-animation;
}

@keyframes energia-animation {
    50% {
        filter: drop-shadow(8px 8px 10px rgb(169, 94, 255));
    }
}

.MorteResult {
    animation: 10s infinite forwards morte-animation;
}

@keyframes morte-animation {
    50% {
        filter: drop-shadow(8px 8px 10px rgb(152, 148, 174));
    }
}

.MedoResult {
    animation: 10s infinite forwards medo-animation;
}

@keyframes medo-animation {
    50% {
        filter: drop-shadow(8px 8px 10px rgb(76, 118, 255));
    }
}
